html { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	background:linear-gradient(
		  rgba(103,58,183 ,1),
	      rgba(69,39,160 ,.45));

}
.body-content{
	text-align: center;
	padding-top:50px
}
h5{
	color: #ffffff;
}
.body-content p{
	padding:0 10% 5% 10%
}
.services{
	padding:0 0 5% 0;
}
.logo{
	padding:50px 0;
}
.top-bar{
	color: #ffffff;
	background-color: rgba(69,39,160 ,1);
}
h1, p{
	color: #ffffff;
	font-family: "factoria",sans-serif;
}
.flag{
	max-width: 28px;
}
.primary-colour{
	background-color:rgba(33,33,33 ,1);
	color: rgba(255,255,255 ,1);
}
.primary-colour:hover{
	background-color:rgba(66,66,66 ,1);
	color: rgba(255,255,255 ,1);
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(132,255,255 ,1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

